<div class="container">
                <!-- row start -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="mainmenu nav_shadow">
                            <nav class="navbar navbar-default">
                                <!-- Brand and toggle get grouped for better mobile display -->
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>

                                <!-- Collect the nav links, forms, and other content for toggling -->
                                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                    <ul class="nav navbar-nav magic_menu">
                                        <li class="has_dropdown active">
                                            <a href="index-2.html">home<span class="fa fa-angle-down"></span></a>
                                            <div class="dropdwon">
                                                <ul>
                                                    <li>
                                                        <a href="index-2.html">Home V1</a>
                                                    </li>
                                                    <li>
                                                        <a href="index2.html">Home V2</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li class="has_dropdown">
                                            <a href="about_us.html">About us<span class="fa fa-angle-down"></span></a>
                                            <div class="dropdwon">
                                                <ul>
                                                    <li><a href="about_us.html">About Us</a></li>
                                                    <li><a href="about_us2.html">about us 2</a></li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li class="has_dropdown">
                                            <a href="services.html">services<span class="fa fa-angle-down"></span></a>
                                            <div class="dropdwon">
                                                <ul>
                                                    <li><a href="services.html">services</a></li>
                                                    <li><a href="services_sidebar.html">Sidebar Services</a></li>
                                                    <li><a href="single_service.html">Service Detail</a></li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li><a href="{% url 'track_order' %}">Track & Trace</a></li>
                                        <li class="has_megamenu">
                                            <a href="#">pages<span class="fa fa-angle-down"></span></a>
                                            <div class="megamenu">
                                                <ul>
                                                    <li><a href="index-2.html">Home V1 </a></li>
                                                    <li><a href="index2.html">Home V2 </a></li>
                                                    <li><a href="about_us.html">About Us</a></li>
                                                    <li><a href="about_us2.html">About Us-2</a></li>
                                                    <li><a href="services.html">Services</a></li>
                                                    <li><a href="services_sidebar.html">Services Sidebar</a></li>
                                                </ul>
                                                <ul>
                                                    <li><a href="single_service.html">Single Service</a></li>
                                                    <li><a href="quote.html">Get a Quote</a></li>
                                                    <li><a href="track_trace.html">Track-Trace</a></li>
                                                    <li><a href="news.html">News </a></li>
                                                    <li><a href="news_list.html">News List</a></li>
                                                </ul>
                                                <ul>
                                                    <li><a href="single_news.html">Single News</a></li>
                                                    <li><a href="login.html">Login</a></li>
                                                    <li><a href="register.html">Register</a></li>
                                                    <li><a href="contact.html">contact</a></li>
                                                    <li><a href="404.html">error-404</a></li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li class="has_dropdown">
                                            <a href="news.html">News<span class="fa fa-angle-down"></span></a>
                                            <div class="dropdwon">
                                                <ul>
                                                    <li><a href="news_list.html">news list</a></li>
                                                    <li><a href="news.html">news grid</a></li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li><a href="contact.html">contact</a></li>
                                    </ul>
                                    <div class="search_form">
                                        <div class="search_btn" data-toggle="modal" data-target="#search_modal">
                                            <span class="fa fa-search"></span>
                                        </div>

                                        <!-- search Modal -->
                                        <div class="modal fade" id="search_modal" tabindex="-1" role="dialog">
                                          <div class="modal-dialog s_modal" role="document">
                                            <div class="modal-content">
                                              <div class="modal-body">
                                                <div class="search_form_wrapper">
                                                    <form method="post" action="{% url 'search-order' %}">
                                                    {% csrf_token %}
                                                        <div class="search_input">
                                                            <input type="search" name="searched" placeholder="Track order...">
                                                            <button class="submit_btn" type="submit">
                                                                <span class="fa fa-search"></span>
                                                            </button>
                                                        </div>
                                                    </form>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                    </div>
                                </div><!-- /.navbar-collapse -->
                            </nav>
                        </div><!-- main menu ends -->
                    </div>
                </div><!-- /.row end -->

            </div>