    
    {% load static %}
    <script src="{% static 'js/jquery-1.12.3.js'%}"></script>

    <!-- bootstrap js -->
    <script src="{% static 'js/bootstrap.min.js'%}"></script>

    <!-- jquery easing 1.3 -->
    <script src="{% static 'js/jquery.easing1.3.js'%}"></script>

    <!-- Owl carousel js-->
    <script src="{% static 'js/owl.carousel.min.js'%}"></script>

    <!-- venobox js -->
    <script src="{% static 'js/venobox.min.js'%}"></script>

    <!-- Isotope js-->
    <script src="{% static 'js/isotope.js'%}"></script>

    <!-- Pakcery layout js-->
    <script src="{% static 'js/packery.js'%}"></script>

    <!-- waypoint js -->
    <script src="{% static 'js/waypoints.min.js'%}"></script>

    <!-- google map js -->
    <script src="http://maps.googleapis.com/maps/api/js"></script>

    <!-- smoothscroll js -->
    <script src="{% static 'js/jqury.smooth-scroll.min.js'%}"></script>

    <!-- jquery camera slider js -->
    <script src="{% static 'js/jquery.camera.min.js'%}"></script>
    <!-- Counter up -->
    <script src="{% static 'js/jquery.counterup.js'%}"></script>

    <!-- Waypoint -->
    <script src="{% static 'js/waypoints.min.js'%}"></script>

    <!-- Main js -->
    <script src="{% static 'js/main.js'%}"></script>